:root{
    --light-blue: #B1EEF2;
    --background-blue: #050817;
    --light-font-gray: #E4D9D9;
    --background-gray: #E2E2E2;
    --yellow-fonts: #FAF200;
    --purple-dark-title: #24041B;
    --dark-grey-font: #353333;
    --backgroun-blue-form: #090F2E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: .625rem;
    font-family: 'Play', sans-serif;
}

body{
    background: var(--background-gray);
}

.hero{
    width: 100vw;
    height: 54.3rem;
    background: #050817;
    color: var(--light-font-gray);
    position: relative;
    display: grid;
    grid-template-columns: 70px 1fr 511px;
    grid-template-rows: 70px 60px 1fr;
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-template-areas: "burguer title title"
                         " . advice advice"
                         " . description image";
}

.hero .burguer-button{
    width: 50px;
    height: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
    align-self: top;
    grid-area: burguer;
    position: relative;
    top: 0;
    left: 0;
}

.hero .line-button{
    width: 100%;
    height: 6px;
    background: var(--light-blue);
    border-radius: 3px;
}

.header__burguer{
    top: -110%;
}

.header__burguer h1{
    margin-top: 7rem;
}

.header__burguer a:hover{
    color: #F604A4;
    transition: ease 1s;
}

.hero .title-developer{
    font-size: 4rem;
    color: var(--yellow-fonts);
    font-weight: 400;
    text-align: center;
    grid-area: title;
    margin: 0;
}

.hero .title__advice{
    font-size: 2.4rem;
    color: #5CD7E8;
    font-weight: 400;
    text-align: center;
    width: 307px;
    line-height: 28px;
    grid-area: advice;
    justify-self: center;
    align-self: center;
    margin: 0;
}

.hero .title__description{
    font-size: 4rem;
    font-weight: 400;
    top: 0;
    left: 0;
    position: relative;
    width: 641px;
    height: 159px;
    line-height: 56px;
    text-align: left;
    grid-area: description;
    align-self: center;
    justify-self: center;
}


.hero .background__container{
    width: 312px;
    height: 301px;
    grid-area: image;
    background-image: url('./assets/images/background-desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .background-photo{
    display: none;
}

main{
    width: 100%;
    background-color: var(--background-gray);
}

.job__description-container{
    width: 100vw;
    display: flex;
    height: auto;
}

.job__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.job__description-title{
    color: var(--purple-dark-title);
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
    padding-top: 2rem;
    max-width: 90%;
    margin: 0;
}

.job__description p{
    font-size: 2.6rem;
    color: var(--dark-grey-font);
    width: 90%;
    line-height: 38px;
}

.job__description .job__description-image{
    width: 200px;
    height: 200px;
    margin: 2rem auto;
}

.experience__delay{
    width: 100vw;
    height: 736px;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 60px 1fr/repeat(2, 1fr);
    grid-template-areas: "title-experience title-experience"
                         "thinkigrow batata-bip";
}

.experience__delay a{
    width: 462px;
    height: 543px;
    perspective: 100px;
    position: relative;
} 

.thinkigrow__delay{
    grid-area: thinkigrow;
    position: absolute;
}

.batata-bip__delay{
    grid-area: batata-bip;
}

.thinkigrow__delay:hover, .batata-bip__delay:hover{
    transform-style: preserve-3d;
    transform: scale(1.1);
    transition: transform ease .5s;
    animation-name: opacity;
    animation-duration: 3s;
}

@keyframes opacity{
    from{opacity: .25}
    to{opacity: 1;}
}

.target__experience{
    width: 100%;
    height: 100%;
    background-image: url('./assets/images/thinkigrow-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 2rem;
}

.batata-bip{
    background-image: url('./assets/images/batata-bip.jpg');
}

.experience{
    grid-area: title-experience;
}

.experience__description-layout{
    width: 100%;
    height: 273px;
    position: relative;
    bottom: -272px;
    background: var(--background-blue);
    padding: 1.6rem;
    grid-area: experience-description-layout;
}

.target__experience h1{
    font-size: 3.2rem;
    color:var(--yellow-fonts);
    font-weight: 400;
    text-align: left;
}

.experience__description-layout p{
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    margin:2rem 0;
    text-align: left;
}

.experience__description-layout h3{
    color:var(--yellow-fonts);
    font-weight: 400;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: left;
}

.experience__description-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
    position: absolute;
    bottom: 0;
    background: var(--background-blue);
    padding: 1.6rem;
    align-items: left;
}

.knowledge__icons{
    display: inline-flex;
    height: 50px;
    width: 170px;
    justify-content: space-between;
    align-self: left;
    position: relative;
    left: 0;
    margin-top: 2rem;
}
.experience__description-layout .knowledge__icon-tag{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding-right: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.experience__description-layout .react-icon{
    background-image: url('./assets/icons/react-icon.svg');
}

.experience__description-layout .figma-icon{
    background-image: url('./assets/icons/figma-icon.svg');
}

.experience__description-layout .design-thinking-icon{
    background-image: url('./assets/icons/designthinking-icon.svg');
}

.experience__description-layout .html-css-icon{
    background-image: url('./assets/icons/html-css-icon.svg');
}

.experience__description-layout .css-icon{
    background-image: url('./assets/icons/css-icon.svg');
}

.batata-icons{
    width: 30%;
}

.knowledge__section{
    width: 100%;
    background: #D4D3D3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overscroll-behavior-x: none;
    scroll-snap-type: none;
}

.container__description-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D4D3D3;
}

.container__description-title h1{
    padding-top: 0;
    margin: 1rem 0;
}


.knowledge__table{
    width: 100%;
    height: 360px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2,  170px);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    grid-gap: .5rem;
    position: relative;
    top: 0;
    right: 0;
}

.knowledge__table-item,
.react-icon-item,
.sass-icon-item,
.js-icon-item, 
.github-icon-item,
.adobexd-logo-item,
.figma-icon,
.uxui-icon,
.photoshop-logo{
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    justify-self: center;
    align-self: center;
}

.react-icon-item{
    background-image: url('./assets/images/react-logo.svg'); 
}

.sass-icon-item{
    background-image: url('./assets/images/sass-logo.svg');
}

.js-icon-item{
    background-image: url('./assets/images/js-logo.svg');
}

.github-icon-item{
    background-image: url('./assets/images/github-icon.svg');
}

.html-css-icon-item{
    background-image: url('./assets/images/html-css-icon.svg');
}

.adobexd-logo-item{
    background-image: url('./assets/images/adobexd-logo.svg');
}

.figma-icon{
    background-image: url('./assets/images/figma-logo.svg');
}

.design-thinking-icon{
    background-image: url('./assets/images/design-thinking.svg');
}

.uxui-icon{
    background-image: url('./assets/images/uxui-logo.svg');
}

.photoshop-logo{
    background-image: url('./assets/images/photoshop-logo.svg');    
}

.profile__student-container .learning__profile:link{
    text-decoration: none;
}

.profile__student-container{
    width: 100vw;
    height: 60px;
    display: flex;
    background: #D4D3D3;
    justify-content: flex-end;
}

.profile__student-container .learning__profile{
    color: var(--purple-dark-title);
    font-size: 1.4rem;
    justify-self: left;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
    width: 100%;
    margin-right: 7.5rem;
}

.profile__student-container .learning__profile:link{
    text-decoration: none;
}

.profile__student-container  span{
    display: block;
    background-image: url('./assets/icons/profile-line.svg');
    background-repeat: no-repeat;
    width: 4.4rem;
    height: 1rem;
    background-size: 4.4rem 1rem;
    margin-left: .5rem;
}

.form__contact{
    width: 100vw;
    height: 49rem;
    background-color: var(--backgroun-blue-form);
    text-align: center;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__contact h1, footer h1{
    font-weight: 400;
    font-size: 3.2rem;
    padding: 1rem 0;
    color: var(--yellow-fonts);
}

.form__contact .form__delay{
    width: 80%;
    height: auto;
    display: grid;
    padding: 2rem 3rem;
    grid-gap: 2rem;
    justify-items: center;
    position: relative;
    grid-template: repeat(4, 83px)/repeat(2, 1fr);
    grid-template-areas: "name phone"
                         "email email"
                         "message message"
                         ". button";
}

.form__contact label{
    font-weight: 700;
    font-size: 2rem;
    width: 100%;        
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-self: center;
}

.name{
    grid-area: name;
}

.phone{
    grid-area: phone;
}

.email{
    grid-area: email;
}

.message{
    grid-area: message;
}


.form__contact span{
    padding: 1rem 0;
}

.form__contact input, .input-message{
    background:#1D275C;
    border: none;
    font-family: 'Play',sans-serif;
    color: #fff;
    font-weight: 400;
    height: 3.5rem;
    justify-self: center;
    padding: 1rem 0;
}


.form__contact input:visited
, .input-message:visited{
    background: #1D275C;
}

.form__contact .form__button{
    margin-top: 1.6rem;
    background: none;
    cursor: pointer;
    color: #fff;
    padding: .8rem;
    border: 1px solid #fff; 
    border-radius: 1rem;
    height: 4rem;
    width: 176px;
    justify-self: flex-end;
    font-family: 'Play',sans-serif;
    grid-area: button;
}


footer{
    width: 100vw;
    height: 53.7rem;
    background: var(--background-blue);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    font-size: 2rem;
}
footer h1{
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: 400;
}

footer h1 + h2{
    color:#1BD8F1;
    font-size: 3.2rem;
    width: 359px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 3rem;
    position: relative;
}

.social__media-delay{
    width: 244px;
    height: 42px;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
}

.social__media-delay span{
    height: 42px;
    width: 42px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.github__link{
    background-image: url('./assets/icons/github-white-icon.svg');
}


.facebook__link{
    background-image: url('./assets/icons/facebook-white-icon.svg');
}

.linkedin__link{
    background-image: url('./assets/icons/linkedin-white-icon.svg');
}

.instagram__link{
    background-image: url('./assets/icons/instagram-white-icon.svg');
}

.location__data{
    width: 244px;
    height: 151px;
    text-align: left;
}

.location__data p{
    margin-top: 3.4rem;
    display: inline-flex;
    justify-content: space-around;
    width: auto;
}

.location__data span{
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 2rem;
  }

.location__data .cellphone__icon{
    background-image: url('./assets/icons/cellphone-icon.svg'); 
    height: 2.3rem;
    width: 2.7rem;
}

.location__data .email__icon{
    background-image: url('./assets/icons/email-icon.svg');
    height: 3rem;
    width: 3.4rem;
}

.location__data .location__icon{
    background-image: url('./assets/icons/location-icon.svg');
    height: 3rem;
    width: 3.4rem;
}
  
