:root{
    --light-blue: #B1EEF2;
    --background-blue: #050817;
    --light-font-gray: #E4D9D9;
    --background-gray: #E2E2E2;
    --yellow-fonts: #FAF200;
    --purple-dark-title: #24041B;
    --dark-grey-font: #353333;
    --backgroun-blue-form: #090F2E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: .625rem;
    font-family: 'Play', sans-serif;
}

body{
    background: var(--background-gray);
}


.hero{
    width: 100vw;
    min-width: 426px;
    height: 624px;
    background: #050817;
    color: var(--light-font-gray);
    position: relative;
    padding-top: 2rem;
    text-align: center;
}

.hero .burguer-button{
    position: absolute;
    width: 50px;
    height: 33px;
    display: flex;
    flex-direction: column;
    top: 26px;
    left: 23px;
    justify-content: space-between;
}

.hero .background__container{
    display: block;
    align-items: center;
}

.hero .line-button{
    width: 100%;
    height: 6px;
    background: var(--light-blue);
    border-radius: 3px;
}

.hero .title-developer{
    font-size: 4rem;
    color: var(--yellow-fonts);
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    margin-top: 51px;
}

.hero .title__advice{
    font-size: 2rem;
    color: #5CD7E8;
    font-weight: 700;
    text-align: center;
    width: 234px;
    height: 52px;
    margin: 0 auto;
    margin-top: 9px;
}

.hero .background-photo{
    position: relative;
    width: 463px;
    height: 433px;
    left: 148px;
    top: -79px;
}

.hero .title__description{
    font-size: 3.2rem;
    font-weight: 400;
    position: absolute;
    top: 312px;
    left: 34px;
    width: 374px;
    height: 140px;
    line-height: 37px;
    text-align: left;
}

main{
    width: 100%;
    background-color: var(--background-gray);
}

.job__description-container{
    width: 100vw;
    height: 330px;
    display: flex;
    justify-content: space-around;
}

.job__description{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.job__description-title{
    color: var(--purple-dark-title);
    font-size: 32px;
}

.job__description .job__description-image{
    margin: .5rem auto;
}

.job__description p{
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: justify;
    width: 100%;
}

.experience__delay{
    width: 100vw;
    height: 421px;
    text-align: center;
    display: grid;
    grid-template: 60px 1fr/repeat(2, 1fr);
    grid-template-areas: "title-experience title-experience"
                         "thinkigrow batata-bip";
    align-items: center;
}

.thinkigrow__delay{
    grid-area: thinkigrow;
}

.batata-bip__delay{
    grid-area: batata-bip;
}

.target__experience{
    width: 277px;
    min-width: 277px;
    height: 311px;
    background-image: url('./assets/images/thinkigrow-image.jpg');
    background-size: 100% 60%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 2rem;
}

.batata-bip{
    background-image: url('./assets/images/batata-bip.jpg');
}

.experience{
    grid-area: title-experience;
}

.experience__description-layout{
    width: 100%;
    height: 55%;
    position: absolute;
    bottom: 0;
    background: var(--background-blue);
    padding: 1.6rem;
    grid-area: experience-description-layout;
}

.experience__description-layout h1{
    font-size: 2rem;
    color:var(--yellow-fonts);
    font-weight: 700;
}

.experience__description-layout p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    margin:.8rem 0;
}

.experience__description-layout h3{
    color:var(--yellow-fonts);
    font-weight: 700;
    font-size: 1.6rem;
}

.experience__description-layout{
    width: 100%;
    height: 55%;
    position: absolute;
    bottom: 0;
    background: var(--background-blue);
    padding: 1.6rem;
}

.experience__description-layout h1{
    font-size: 2rem;
    color:var(--yellow-fonts);
    font-weight: 700;
}

.experience__description-layout p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    margin:.8rem 0;
}

.experience__description-layout h3{
    color:var(--yellow-fonts);
    font-weight: 700;
    font-size: 1.6rem;
}

.knowledge__icons{
    display: inline-flex;
    height: 28px;
    width: 50%;
    justify-content: space-between;
    margin-top: 1rem;
}
.experience__description-layout .knowledge__icon-tag{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    padding-right: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.experience__description-layout .react-icon{
    background-image: url('./assets/icons/react-icon.svg');
}

.experience__description-layout .figma-icon{
    background-image: url('./assets/icons/figma-icon.svg');
}

.experience__description-layout .design-thinking-icon{
    background-image: url('./assets/icons/designthinking-icon.svg');
}

.experience__description-layout .html-css-icon{
    background-image: url('./assets/icons/html-css-icon.svg');
}

.experience__description-layout .css-icon{
    background-image: url('./assets/icons/css-icon.svg');
}

.batata-icons{
    width: 30%;
}

.knowledge__section{
    width: 100%;
    background: #D4D3D3;
    height: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.knowledge__icons{
    display: inline-flex;
    height: 28px;
    width: 50%;
    justify-content: space-between;
    margin-top: 1rem;
}

.experience__description-layout .knowledge__icon-tag{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    padding-right: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.experience__description-layout .react-icon{
    background-image: url('./assets/icons/react-icon.svg');
}

.experience__description-layout .figma-icon{
    background-image: url('./assets/icons/figma-icon.svg');
}

.experience__description-layout .design-thinking-icon{
    background-image: url('./assets/icons/designthinking-icon.svg');
}

.experience__description-layout .html-css-icon{
    background-image: url('./assets/icons/html-css-icon.svg');
}

.experience__description-layout .css-icon{
    background-image: url('./assets/icons/css-icon.svg');
}

.batata-icons{
    width: 30%;
}

.experience__description-layout{
    width: 100%;
    height: 55%;
    position: absolute;
    bottom: 0;
    background: var(--background-blue);
    padding: 1.6rem;
}

.experience__description-layout h1{
    font-size: 2rem;
    color:var(--yellow-fonts);
    font-weight: 700;
}

.experience__description-layout p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 400;
    margin:.8rem 0;
}

.experience__description-layout h3{
    color:var(--yellow-fonts);
    font-weight: 700;
    font-size: 1.6rem;
}

.knowledge__icons{
    display: inline-flex;
    height: 28px;
    width: 50%;
    justify-content: space-between;
    margin-top: 1rem;
}
.experience__description-layout .knowledge__icon-tag{
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    padding-right: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.experience__description-layout .react-icon{
    background-image: url('./assets/icons/react-icon.svg');
}

.experience__description-layout .figma-icon{
    background-image: url('./assets/icons/figma-icon.svg');
}

.experience__description-layout .design-thinking-icon{
    background-image: url('./assets/icons/designthinking-icon.svg');
}

.experience__description-layout .html-css-icon{
    background-image: url('./assets/icons/html-css-icon.svg');
}

.experience__description-layout .css-icon{
    background-image: url('./assets/icons/css-icon.svg');
}

.batata-icons{
    width: 30%;
}

.knowledge__section{
    background: #D4D3D3;
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0;
    height: auto;
}

.container__description-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D4D3D3;
}

.container__description-title h1{
    padding-top: 0;
    margin: 1rem 0;
}

.knowledge__table{
    height: 160px;
    display: grid;
    margin: 0;
    grid-template-columns: repeat(10,1fr);
    justify-content: space-around;
    position: relative;
    right: -29.5rem;
    top: 6rem;
    align-content: none;
}

.knowledge__table-item,
.react-icon-item,
.sass-icon-item,
.js-icon-item, 
.github-icon-item,
.adobexd-logo-item,
.figma-icon,
.uxui-icon,
.photoshop-logo{
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position-x: center;
    background-position-y: center;
    justify-self: center;
    align-self: center;
    position: relative;
    scroll-snap-align: center;
}

.react-icon-item{
    background-image: url('./assets/images/react-logo.svg'); 
}

.sass-icon-item{
    background-image: url('./assets/images/sass-logo.svg');
}

.js-icon-item{
    background-image: url('./assets/images/js-logo.svg');
}

.github-icon-item{
    background-image: url('./assets/images/github-icon.svg');
}

.html-css-icon-item{
    background-image: url('./assets/images/html-css-icon.svg');
}

.adobexd-logo-item{
    background-image: url('./assets/images/adobexd-logo.svg');
}

.figma-icon{
    background-image: url('./assets/images/figma-logo.svg');
}

.design-thinking-icon{
    background-image: url('./assets/images/design-thinking.svg');
}

.uxui-icon{
    background-image: url('./assets/images/uxui-logo.svg');
}

.photoshop-logo{
    background-image: url('./assets/images/photoshop-logo.svg');
}

.profile__student-container{
    width: 100vw;
    height: 60px;
    display: flex;
    background: #D4D3D3;
}

.profile__student-container .learning__profile{
    color: var(--purple-dark-title);
    font-size: 1.4rem;
    justify-self: left;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin-left: 2rem;
    width: 100%s;
}

.profile__student-container .learning__profile:link{
    text-decoration: none;
}

.profile__student-container  span{
    display: block;
    background-image: url('./assets/icons/profile-line.svg');
    background-repeat: no-repeat;
    width: 4.4rem;
    height: 1rem;
    background-size: 4.4rem 1rem;
    margin-left: .5rem;
}

.form__contact{
    width: 100vw;
    height: 370px;
    background-color: var(--backgroun-blue-form);
    text-align: center;
    color: #fff;
    position: relative;
}

.form__contact h1, footer h1{
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--yellow-fonts);
}

.form__contact .form__delay{
    width: 100%;
    height: auto;
    display: grid;
    padding: 2rem;
    grid-gap: 2rem;
    position: relative;
    grid-template: repeat(4, 56px)/repeat(2, 1fr);
    grid-template-areas: "name phone"
                         "email email"
                         "message message"
                         ". button";
}

.form__contact label{
    font-weight: 700;
    font-size: 1.6rem;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.name{
    grid-area: name;
}

.phone{
    grid-area: phone;
}

.email{
    grid-area: email;
}

.message{
    grid-area: message;
}


.form__contact span{
    padding: 1rem 0;
}

.form__contact input, .input-message{
    background:#1D275C;
    border: none;
    font-family: 'Play',sans-serif;
    color: #fff;
    font-weight: 400;
    height: 20px;
    justify-self: center;
    padding: 1rem 0;
}

.form__contact input:visited
, .input-message:visited{
    background: #1D275C;
}

.form__contact .input-message{
    height: 4rem;
}

.form__contact .form__button{
    margin-top: 1.6rem;
    background: none;
    color: #fff;
    padding: .8rem;
    border: 1px solid #fff; 
    border-radius: 1rem;
    height: 4rem;
    width: 176px;
    align-self: center;
    font-family: 'Play',sans-serif;
    grid-area: button;
    justify-self: flex-end;
    top: 0;
}

footer{
    width: 100vw;
    height: 30.6rem;
    background: var(--background-blue);
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    font-size: 1.6rem;
}

footer h1{
    font-size: 3.2rem;
    font-weight: 400;
}
footer h1 + h2{
    color:#1BD8F1;
    font-size: 2rem;
    width: 298px;
    margin: 0 auto;
    position: relative;
}

.social__media-delay{
    width: 184px;
    height: 31px;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 0;
}

.social__media-delay span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}

.github__link{
    background-image: url('./assets/icons/github-white-icon.svg');
}

.facebook__link{
    background-image: url('./assets/icons/facebook-white-icon.svg');
}

.linkedin__link{
    background-image: url('./assets/icons/linkedin-white-icon.svg');
}

.instagram__link{
    background-image: url('./assets/icons/instagram-white-icon.svg');
}

.experience__description-layout .pen-design-logo{
    display: none;    
}

.location__data{
    margin-top: 1rem;
    width: 40%;
}

.location__data p{
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: left;
    display: inline-flex;
    align-items: center;
}

.location__data span{
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 2rem;
}

.location__data .cellphone__icon{
    background-image: url('./assets/icons/cellphone-icon.svg'); 
    height: 2.3rem;
    width: 2.7rem;
}

.location__data .email__icon{
    background-image: url('./assets/icons/email-icon.svg');
    height: 2rem;
    width: 2.3rem;
}

.location__data .location__icon{
    background-image: url('./assets/icons/location-icon.svg');
    height: 2.1rem;
    width: 2.3rem;
}